# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Temporary files
*.tmp
*.swp
*~

# Wisp runtime
tmp/
